VITE_SUPABASE_URL=https://wkrrzwapqwufqmjpymiu.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndrcnJ6d2FwcXd1ZnFtanB5bWl1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc5MjE0MzYsImV4cCI6MjEwMzQ5NzQzNn0.ypYP_Jtz5b6XAcdnPiAOivPnoSg2V6jcxbNAVWUOZGQ
